
.MovieMaincontainer{   
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .footer{
        margin-top: auto;
        position: relative;
        bottom: 0;
        width: 100%;

    }
}