.similarMContainer{
  
    display: flex;
    justify-content: center;
    background-color: rgb(5, 53, 61);
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    
    .mcards{
        // display: flex;
        // flex-wrap: wrap;
        width: 90%;
        padding: 40px 0;
        // gap: 40px 40px;

        .slick-slider {      
            .nextArrow{
                position: absolute;
                right: -30px;
                top: 50%;
                z-index: 1;
            }
            .prevArrow{
                position: absolute;
                left: -40px;
                top: 50%;
                z-index: 1;
            } 
        }
        
        .cardbodys{
            .card{
                box-shadow: 0 0 8px 2px rgb(87, 88, 88);
                background-color: rgb(5, 53, 61);
                color: white;
                margin: 20px;
                height: 550px;                
                .imgdivs{
                    height: 73%;
                    img{
                        width: 100%;
                        height:100%;
                    }
                }
                .titles{
                    color: white;
                    margin-top: 20px;
                    padding-left: 20px;
                    .title{
                        display: block;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                    }
                }
                .contentdivs{
                    padding-bottom: 20px;
                    padding-top: 10px;
                    margin-top: auto;
                    text-decoration: none;
                    padding-left: 20px;
                    h4{
                        padding: 2px 0;
                        font-size: 15px;
                        color: white;
                       
                    }                    
                }  
            }

        }
    }
}
@media screen and (max-width:768px){
    .similarMContainer{
        .mcards{
            .cardbodys{
                flex-basis: 100%;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .similarMContainer{
        .mcards{
            .cardbodys{
                flex-basis: 47%;
            }
        }
    }
}
