.UpcomingContainer{
    display: flex;
    justify-content: center;
    background-color: rgb(8, 43, 47);
    .innerbody{
        width: 90%;
        padding: 40px 0px;
        .search{
            margin-bottom: 2rem;
     
            input{
                font-size: 25px;
                border-radius: 20px;
                background-color: rgb(5, 53, 61);
                height: 40px;
                border: 1px solid white;
                color: white;
                padding: 0 20px;
            }
            input:focus{
                outline: none;
            }
            input::placeholder{
                color:white;  
                opacity: .5;
            }
        }
        .cont{
            display: flex;
            gap: 40px 20px;
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width:466px) {
    .UpcomingContainer{
        .innerbody{
            width: 80%;
            .search{
                display: flex;
                justify-content: center;
             input{
                 width: 90%;
             }
           } 
        }
    }

}
@media screen and (min-width:465px) and (max-width:768px){
    .UpcomingContainer{
        .innerbody{
           .search{
            input{
                width: 50%;
            }
           } 
        }
    }
}