*{
    padding: 0;
    margin: 0;
   text-decoration: none;
}
Link{
    color: white;
}
.footer{
    background-color: rgb(34, 33, 35);
    .outdiv{
     display: flex;
     padding: 4rem 0;
        .contentdiv{
            width: 50%;
            color: white;
            padding-left: 6rem;
            .contentp{
                width: 80%;
            }
            .logo{
                display: flex;
                color: white;
                margin-bottom: 5px;
                .logotext{
                    padding-left: 10px;
                }
            }
        }
        .linkdiv{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            color: white;
            

            .outfdiv{
                display: flex;
                flex-grow: 1;
                .comman{
                    width: 50%;
                }
            }
            .comman{
                width: 30%;  
            }
            .foot-list{
                list-style: none;
         
                li{
                    margin-top:11px;
                    a{
                        color: white;
                    }
                    a:hover{
                        color: rgb(78, 78, 248);
                    }
                }
            }
        }
    }
    .hr{
        display: flex;
        justify-content: center;
        hr{
            width: 90%;
            background-color: white;
        }

    }
    .Copyright{
        display: flex;
        justify-content: center;
        p{
            margin: 20px 0;
            color: white;
        }
    }
}

@media screen and (max-width:465px) {
    *{
        padding: 0;
        margin: 0;
    }
    .footer{
        background-color: rgb(34, 33, 35);
        .outdiv{
         margin-left:40px ;
         display: flex;
         flex-direction: column;
         
            .contentdiv{
                width: 100%;
                color: white;
                padding: 0;
                
                .contentp{
                    width: 95%;
                }
            }
            .linkdiv{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                color: white;
                flex-direction: column;
                
                .outfdiv{
                    display: flex;
                }
                .comman{
                    width: 100%;
                    padding-top: 25px;
     
                    p{
                        font-size: 18px;
                        text-decoration: underline;
                    }
                }
                .foot-list{
                    list-style: none;
                    li{
                        margin-top: 10px;
                        
                        a{
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .hr{
            display: flex;
            hr{
                width: 88%;
                background-color: white;
            }
    
        }
        .Copyright{
            display: flex;
            justify-content: center;
            p{
                margin: 20px 0;
                color: white;
            }
        }
    }
}
@media screen and (min-width:469px) and (max-width:1024px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .outdiv{
            width: 80%;
            display: flex;
            flex-direction: column;
            .contentdiv{
                width: 100%;
                color: white;
                padding: 0;
                
                .contentp{
                    width: 95%;
                }
            }
            .linkdiv{
                margin-top: 2rem;
                width: 100%;
                display: flex;
          
                color: white;
              
                
                .outfdiv{
                    display: flex;
                }
                
            }
        
        }
    }   
}