*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.cardContainer{
    flex: 0 30.4%;
    box-shadow: 0 0 8px 2px rgb(23, 24, 24);
    background-color: rgb(5, 53, 61);
    display: flex;
    flex-direction: column;
    margin:0 10px;    
.cards{
    .imgdiv{
        img{
            width: 100%;
        }
    }
    .cardbody{
        color: white;
        margin-top: 20px;
        padding-left: 20px;
        .title{
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
        }
    }
    .contentdivs{
        
        padding-bottom: 20px;
        margin-top: 10px;
        padding-left: 20px;
        
        h4{
            padding: 2px 0;
            color: white;
        }        
    }   
}
}

@media screen and (max-width:768px){
    .cardContainer{
        flex: 0 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cardContainer{
        flex: 0 45%;
    }
}






