.MDetailContain{
    background-color: rgb(5, 53, 61);
    display: flex;
    flex-direction: column;
    // padding: 0 30px;
    
    .firstDiv{
        display: flex;
        justify-content: center;

        .maininnerdiv{
            margin: 3rem 0;
            display: flex;
            width: 70%;
            
            
            box-shadow: 0 0 10px 5px rgb(157, 154, 154);
            
            
            .imgdiv{
                width: 50%;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    
                }
               
            }
            .contDiv{
                width: 50%;
                padding: 2rem 2rem;
                background-color: rgb(203, 224, 240);
                .title{
                    font-size: 2rem;
                }
                .commanpadding{
                    padding-top: 7px;
                }
                    
                span{
                    color: rgb(77, 129, 233);
                }
            }
    
        }
    }

}
@media screen and (max-width:769px) {
    .MDetailContain{
        .firstDiv{
            display: flex;
            justify-content: center;
            .maininnerdiv{
                margin: 3rem 0;
                display: flex;
                flex-direction: column;
                width: 90%;
                .imgdiv{
                    width: 100%;
                    padding-top: 0;
                    margin-top: 0;
        
                    img{
                        width: 100%;
                        height: 100%;
                        padding-top: 0;
                        margin-top: 0;      
                        
                    }
                }
                .contDiv{
                    width: 100%;
                    padding: 2rem 0;
            
          
                    .title{
                        font-size: 1.5rem;
                    }
                    .commanpadding{
                        padding-top: 20px;
                        padding: 10px 10px; 
                    }
                    span{
                        color: rgb(77, 129, 233);
                    }
                }
        
            }
        }


    }
}