.nav{
    height: 50px;
    display: flex;
    background-color: rgb(34, 33, 35);
    color: white;
    box-shadow: 0 0 20px 5px rgb(108, 105, 105);
    align-items: center;
    
 
    padding: 10px 20px;

    .logo{
        margin-right: auto;
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
        color: white;
        h1{
            font-size: 30px;
        }
        .logotext{
            padding-left: 10px;
        }
    }
    .icon{
        display: none;
    }
    .nav-links{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    
        text-decoration: none;
        
        .Navlink{
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 7px;
            color: white;
            transition: .3s;
            font-size: 18px;
        }
        li{
            padding: 3px 10px;
       
        }

        .is_active{
            background-color: rgb(47, 116, 253);
            color: white;
           
            
        }
    }
}
@media screen and (max-width:768px) {
    .nav{
        .icon{
            display: block;
        }
        .navlinkdiv{
            display: none;
        }
        .mobailScreen{
            background-color: rgb(34, 33, 35);
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top:4.4rem;      
            height: 100vh;
            z-index: 1;

            .nav-links{
                display: flex;
                flex-direction: column;  
                justify-content: center;
                align-content: center;
                align-items: center;
                margin-top: 15px;
                li{
                    font-size: 25px;
                    padding: 5px 0;
                }
                .is_active{
                    background-color: rgb(47, 116, 253);
                    color: white;
                    padding: 0 20px;
                    
                }
            } 
        }

    }
}