.paginations{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    .btnOnMobail{
        display: none;
    }
    .btn{
        margin: 0 5px;
        padding: 6px 10px;
        
        color: blue;
        border: .2px solid black;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        transition: .3s;
        text-decoration: none;
    }
    .btn:hover{
        transform: scale(1.2);
    }
    .active{
        transform: scale(1.2);
        background: rgb(66, 66, 238);
        color: white;
        border: .2px solid white;
    }
    .nav-link{
        list-style: none;
        display: flex;
    }
    .nav-linkMobail{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .paginations{
        .btnOnMobail{
            display: block;
        }
        .btnNonMobail{
            display: none;
        }
        .nav-link{
            display: none;
        }
        .nav-linkMobail{
            list-style: none;
            display: flex;
        }
    }
}